In [1]:
sal=[10000,20000,50000,80000,100000,25000,70000,90000,38000]

In [3]:
#task:--> transform salaries into grades
#>=70000-->A
#>=50000 and <70000-->B
#>=30000 and <50000-->c
#<30000-->D

def grade(s):
    g='D'
    if s>=70000:
        g='A'
    elif s>=50000:
        g='B'
    elif s>=30000:
        g='C'
    return g
#format grades=[expr for s in sal]
grades=[grade(s) for s in sal]
print(sal)
print(grades)

[10000, 20000, 50000, 80000, 100000, 25000, 70000, 90000, 38000]
['D', 'D', 'B', 'A', 'A', 'D', 'A', 'A', 'C']

In [7]:
dno=[11,12,13,14,11,12,13,12]
#task:
#11-->Marketing
#12--->HR
#13--->Finance
#remaning--> other

def dept(d):
    dname='other'
    if d==11:
        dname='Marketing'
    elif d==12:
        dname='HR'
    elif d==13:
        dname='Finance'
    return dname
dnames=[dept(v) for v in dno]
tax=[v*0.1 for v in sal]
hra=[v*0.2 for v in sal]
name=['a','b','c','d','e','f','g','h','i']
print(name)
print(sal)
print(dno)
print(dnames)
print(grades)
print(tax)
print(hra)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
[10000, 20000, 50000, 80000, 100000, 25000, 70000, 90000, 38000]
[11, 12, 13, 14, 11, 12, 13, 12]
['Marketing', 'HR', 'Finance', 'other', 'Marketing', 'HR', 'Finance', 'HR']
['D', 'D', 'B', 'A', 'A', 'D', 'A', 'A', 'C']
[1000.0, 2000.0, 5000.0, 8000.0, 10000.0, 2500.0, 7000.0, 9000.0, 3800.0]
[2000.0, 4000.0, 10000.0, 16000.0, 20000.0, 5000.0, 14000.0, 18000.0, 7600.0]

In [9]:
# formar:-->for n,s,t,h,g,dn,dm in list(zip(name,sal,tax,hra,grades,dno,dnames))
# v-->n,s,t,h,g,dn,dm
for V in list(zip(name,sal,tax,hra,grades,dno,dnames)):
     print(V)

('a', 10000, 1000.0, 2000.0, 'D', 11, 'Marketing')
('b', 20000, 2000.0, 4000.0, 'D', 12, 'HR')
('c', 50000, 5000.0, 10000.0, 'B', 13, 'Finance')
('d', 80000, 8000.0, 16000.0, 'A', 14, 'other')
('e', 100000, 10000.0, 20000.0, 'A', 11, 'Marketing')
('f', 25000, 2500.0, 5000.0, 'D', 12, 'HR')
('g', 70000, 7000.0, 14000.0, 'A', 13, 'Finance')
('h', 90000, 9000.0, 18000.0, 'A', 12, 'HR')

In [10]:
info=list(zip(name,sal,tax,hra,grades,dno,dnames))
info

[('a', 10000, 1000.0, 2000.0, 'D', 11, 'Marketing'),
 ('b', 20000, 2000.0, 4000.0, 'D', 12, 'HR'),
 ('c', 50000, 5000.0, 10000.0, 'B', 13, 'Finance'),
 ('d', 80000, 8000.0, 16000.0, 'A', 14, 'other'),
 ('e', 100000, 10000.0, 20000.0, 'A', 11, 'Marketing'),
 ('f', 25000, 2500.0, 5000.0, 'D', 12, 'HR'),
 ('g', 70000, 7000.0, 14000.0, 'A', 13, 'Finance'),
 ('h', 90000, 9000.0, 18000.0, 'A', 12, 'HR')]

In [16]:
# operation on sal,tax,hra
#format net=[expr for v in list(zip(sal,tax,hra))]
net=[s+h-t for s,t,h in list(zip(sal,tax,hra))]
print(net)
print("_"*100)
print(list(zip(sal,tax,hra)))

[11000.0, 22000.0, 55000.0, 88000.0, 110000.0, 27500.0, 77000.0, 99000.0, 41800.0]
____________________________________________________________________________________________________
[(10000, 1000.0, 2000.0), (20000, 2000.0, 4000.0), (50000, 5000.0, 10000.0), (80000, 8000.0, 16000.0), (100000, 10000.0, 20000.0), (25000, 2500.0, 5000.0), (70000, 7000.0, 14000.0), (90000, 9000.0, 18000.0), (38000, 3800.0, 7600.0)]